head
  //
    if gte mso 9xml
    o:officedocumentsettings
    o:allowpng
    o:pixelsperinch 96
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='x-apple-disable-message-reformatting')
  //if !mso
    | [if !mso]
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // <![endif]
  title
  style(type='text/css').
    @media only screen and (min-width: 670px) {
    .u-row {
    width: 650px !important;
    }
    .u-row .u-col {
    vertical-align: top;
    }
    .u-row .u-col-19p77 {
    width: 128.505px !important;
    }
    .u-row .u-col-20p38 {
    width: 132.47px !important;
    }
    .u-row .u-col-21p31 {
    width: 138.515px !important;
    }
    .u-row .u-col-27p91 {
    width: 181.415px !important;
    }
    .u-row .u-col-29p47 {
    width: 191.555px !important;
    }
    .u-row .u-col-29p62 {
    width: 192.53px !important;
    }
    .u-row .u-col-30p23 {
    width: 196.495px !important;
    }
    .u-row .u-col-36p15 {
    width: 234.975px !important;
    }
    .u-row .u-col-63p85 {
    width: 415.025px !important;
    }
    .u-row .u-col-100 {
    width: 650px !important;
    }
    }
    @media (max-width: 670px) {
    .u-row-container {
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    .u-row .u-col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
    }
    .u-row {
    width: 100% !important;
    }
    .u-col {
    width: 100% !important;
    }
    .u-col>div {
    margin: 0 auto;
    }
    }
    body {
    margin: 0;
    padding: 0;
    }
    table,
    tr,
    td {
    vertical-align: top;
    border-collapse: collapse;
    }
    p {
    margin: 0;
    }
    .ie-container table,
    .mso-container table {
    table-layout: fixed;
    }
    .otp-container {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .otp-code {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 8px;
    color: #725aec;
    margin: 15px 0;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    }
    .otp-expires {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
    }
    * {
    line-height: inherit;
    }
    a[x-apple-data-detectors='true'] {
    color: inherit !important;
    text-decoration: none !important;
    }
    @media (max-width: 480px) {
    .hide-mobile {
    max-height: 0px;
    overflow: hidden;
    display: none !important;
    }
    }
    table,
    td {
    color: #000000;
    }
    #u_body a {
    color: #0000ee;
    text-decoration: underline;
    }
    @media (max-width: 480px) {
    #u_content_divider_4 .v-container-padding-padding {
    padding: 0px !important;
    }
    #u_content_text_2 .v-container-padding-padding {
    padding: 0px 10px 0px 23px !important;
    }
    #u_content_image_5 .v-src-width {
    width: auto !important;
    }
    #u_content_image_5 .v-src-max-width {
    max-width: 100% !important;
    }
    #u_content_image_17 .v-container-padding-padding {
    padding: 10px !important;
    }
    #u_content_image_17 .v-src-width {
    width: auto !important;
    }
    #u_content_image_17 .v-src-max-width {
    max-width: 90% !important;
    }
    #u_content_image_10 .v-src-width {
    width: auto !important;
    }
    #u_content_image_10 .v-src-max-width {
    max-width: 90% !important;
    }
    #u_content_text_8 .v-text-align {
    text-align: center !important;
    }
    }
// if IE.ie-container
// if mso.mso-container
table#u_body(style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #f6f5fe;width:100%' cellpadding='0' cellspacing='0')
  tbody
    tr(style='vertical-align: top')
      td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
        //
          if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
          tbody
          tr
          td(align='center', style='background-color: #f6f5fe;')
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table#u_content_divider_4.hide-mobile(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px 10px 24px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #f6f5fe;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                    span &nbsp;
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-63p85(style='max-width: 320px;min-width: 415.03px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 11px 0px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px 10px 24px 15px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='left')
                                    img.v-src-width.v-src-max-width(align='left' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681153005263-Ryzer-Logo_Retina.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 40%;max-width: 156.01px;' width='156.01')
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px 10px 5px 22px;font-family:arial,helvetica,sans-serif;' align='left')
                            h1.v-text-align(style='margin: 0px; line-height: 140%; text-align: left; word-wrap: break-word; font-size: 30px; font-weight: 400;')
                              strong Verify Your Account
                    table#u_content_text_2(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px 10px 10px 23px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 16px; line-height: 140%; text-align: left; word-wrap: break-word;')
                              p(style='line-height: 140%;') Your One-Time Password (OTP)
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
              .u-col.u-col-36p15(style='max-width: 320px;min-width: 234.97px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table#u_content_image_5.hide-mobile(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1686822576131-85597-congratulations.gif' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 93%;max-width: 218.53px;' width='218.53')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:16px 10px 10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                    span &nbsp;
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:6px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 16px; line-height: 140%; text-align: left; word-wrap: break-word;')
                              p(style='line-height: 140%;') &nbsp; &nbsp; Hi ! &#xF44B;&nbsp;
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 7px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px 3px 0px 20px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-family: inherit; font-size: 16px; line-height: 140%; text-align: left; word-wrap: break-word;')
                              p(style='line-height: 140%;')
                                | We received a request to verify your account. Please use the following One-Time Password (OTP) to complete your verification
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px 30px;font-family:arial,helvetica,sans-serif;' align='left')
                            .otp-container
                              p(style='font-size: 18px; margin-bottom: 10px;') Your verification code is:
                              .otp-code #{otp}
                              p.otp-expires This code will expire in 5 minutes
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px 3px 0px 20px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-family: inherit; font-size: 16px; line-height: 140%; text-align: left; word-wrap: break-word;')
                              p(style='line-height: 140%; margin-top: 15px;')
                                | If you did not request this code, please ignore this email or contact our support team if you believe this is an error.
                              p(style='line-height: 140%; margin-top: 15px;')
                                | For security reasons, this OTP will expire in 5 minutes. Please do not share this code with anyone.
                              p(style='line-height: 140%; margin-top: 15px;')
                                | You can learn more from FAQ: 
                                a(href='http://ryzer.app/faq') http://ryzer.app/faq
                              p(style='line-height: 140%; margin-top: 15px;') Thank you for choosing Ryzer!
                              p(style='line-height: 140%; margin-top: 15px;') Best regards,
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:16px 10px 10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                    span &nbsp;
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px 3px 5px 20px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 16px; line-height: 140%; text-align: left; word-wrap: break-word;')
                              p(style='line-height: 140%;') Team Ryzer,
                              p(style='line-height: 140%;')
                                a(rel='noopener' href='mailto:hello@ryzer.app' target='_blank') hello@ryzer.app
                                | ,
                              p(style='line-height: 140%;') Ph: +91 9966222498
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                    span &nbsp;
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681152716029-Top.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 650px;' width='650')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: #ffffff;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681154519295-Banner_white-min.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 650px;' width='650')
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px 10px 22px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #ced4d9;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                    span &nbsp;
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-19p77(style='max-width: 320px;min-width: 128.5px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
              .u-col.u-col-30p23(style='max-width: 320px;min-width: 196.5px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table#u_content_image_17(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    a(href='https://play.google.com/store/apps/details?id=com.reallyy' target='_blank')
                                      img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681154624384-google.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 176.5px;' width='176.5')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
              .u-col.u-col-29p62(style='max-width: 320px;min-width: 192.53px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table#u_content_image_10(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    a(href='https://apps.apple.com/app/id6448790250' target='_blank')
                                      img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681154612201-iosd.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 172.53px;' width='172.53')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
              .u-col.u-col-20p38(style='max-width: 320px;min-width: 132.47px;display: table-cell;vertical-align: top;')
                div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: #ffffff;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:7px 0px 6px;font-family:arial,helvetica,sans-serif;' align='left')
                            h1.v-text-align(style='margin: 0px; line-height: 140%; text-align: center; word-wrap: break-word; font-size: 22px; font-weight: 400;') Join our Telegram community
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: #ffffff;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table#u_content_text_8(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 14px; line-height: 140%; text-align: center; word-wrap: break-word;')
                              p(style='line-height: 140%;')
                                | Let&apos;s be part of our official Telegram community channel to connect, share, learn and earn together. &nbsp;We look forward to a long and fruitful journey together.
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: #ffffff;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            //
                              if msostyle.
                              .v-button {background: transparent !important;}
                            .v-text-align(align='center')
                              //
                                if msov:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='https://telegram.me/+6X35qKHq-5wxNWQ1', style='height:41px; v-text-anchor:middle; width:245px;', arcsize='10%', stroke='f', fillcolor='#725aec')
                                w:anchorlock
                                center(style='color:#FFFFFF;font-family:arial,helvetica,sans-serif;')
                              a.v-button(href='https://telegram.me/+6X35qKHq-5wxNWQ1' target='_blank' style='box-sizing: border-box;display: inline-block;font-family:arial,helvetica,sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #FFFFFF; background-color: #725aec; border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;font-size: 16px;')
                                span(style='display:block;padding:10px 20px 12px;line-height:120%;') Join Telegram Community &#xF525;
                              // if mso
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px 10px 20px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #ffffff;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                    span &nbsp;
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681155092707-Btm_blu.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 650px;' width='650')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-100(style='max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681153005263-Ryzer-Logo_Retina.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 24%;max-width: 151.2px;' width='151.2')
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:4px 10px 10px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 14px; line-height: 140%; text-align: center; word-wrap: break-word;')
                              p(style='line-height: 140%;') Copyright &copy; *2022-23* *Ryzer Wealth Corp Private Limited*, All rights reserved.
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:4px 10px 11px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 12px; color: #7e8c8d; line-height: 140%; text-align: center; word-wrap: break-word;')
                              p(style='line-height: 140%;')
                                |   Flat 502, 5th floor, 
                                | Vamsiram Jyothi Habitat, Kavuri Hills, 
                                | Beside Ratnadeep Store, Jubilee Hills, 
                                | Hyderabad, Telangana 500033,
                                | hello@ryzer.app, Ph No: 91+9966222498, 
                                | Made in India
                                | &#x2764;                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:4px 10px 11px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 12px; color: #7e8c8d; line-height: 140%; text-align: center; word-wrap: break-word;')
                              p(style='line-height: 140%;')
                                | Disclaimer: The content of this communication (and attachments, if any) is confidential and privileged. This communication does not constitute advice relating to investing or otherwise dealing
                                | in securities and is not an offer or solicitation for the purchase or sale of any securities. Ryzer Wealth Corp Private Limited (&quot;Ryzer&quot;) is not registered with SEBI in any
                                | capacity and does not advise, encourage, or discourage its users to invest or not invest in any securities. Ryzer is solely an execution-only platform and does not guarantee or assure
                                | any return on investments made by you in any opportunities sourced by Ryzer platform and accepts no liability for consequences of any actions taken based on the information provided.
                                | Your investment is solely based on your judgement. Investments in debt securities are subject to risks. Read all the offer related documents carefully.
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:4px 10px 11px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 12px; color: #7e8c8d; line-height: 140%; text-align: center; word-wrap: break-word;')
                              div
                                | This email was sent by 
                                a(rel='noopener' href='mailto:hello@ryzer.app' target='_blank') hello@ryzer.app
                                | &nbsp;to&nbsp;
                                a(rel='noopener' href='mailto:undefined' target='_blank')
                              div
                                | Not interested?&nbsp;
                                a(style='color: #888F9D;' href='undefined/unsubscribe/undefined') Unsubscribe
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:4px 10px 0px;font-family:arial,helvetica,sans-serif;' align='left')
                            .v-text-align(style='font-size: 14px; font-weight: 700; line-height: 140%; text-align: center; word-wrap: break-word;')
                              p(style='line-height: 140%;') Keep in touch with us
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        .u-row-container(style='padding: 0px;background-color: transparent')
          .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
              //
                if (mso)|(IE)table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                tr
                td(style='padding: 0px;background-color: transparent;', align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px;')
                tbody
                tr(style='background-color: transparent;')
              // if (mso)|(IE)
              .u-col.u-col-21p31(style='max-width: 320px;min-width: 138.49px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    a(href='https://www.linkedin.com/company/ryzerapp' target='_blank')
                                      img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681155525349-linkedin.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 26%;max-width: 30.81px;' width='30.81')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
              .u-col.u-col-27p91(style='max-width: 320px;min-width: 181.44px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    a(href='https://twitter.com/Ryzer_app' target='_blank')
                                      img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681155511792-twitter.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 26%;max-width: 41.98px;' width='41.98')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
              .u-col.u-col-29p47(style='max-width: 320px;min-width: 191.57px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    a(href='https://www.instagram.com/ryzer_app/' target='_blank')
                                      img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681155518370-insta.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 26%;max-width: 44.61px;' width='44.61')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
              .u-col.u-col-21p31(style='max-width: 320px;min-width: 138.49px;display: table-cell;vertical-align: top;')
                div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                  //if (!mso)&(!IE)
                    | [if (!mso)&amp;(!IE)]
                  div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                    // <![endif]
                    table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tbody
                                tr
                                  td.v-text-align(style='padding-right: 0px;padding-left: 0px;' align='center')
                                    a(href='https://www.facebook.com/ryzer.invest' target='_blank')
                                      img.v-src-width.v-src-max-width(align='center' border='0' src='https://ik.imagekit.io/l0quatz6utm/1681155500760-facebook.png' alt='' title='' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 26%;max-width: 30.81px;' width='30.81')
                    //if (!mso)&(!IE)
                      | [if (!mso)&amp;(!IE)]
                  // <![endif]
              // if (mso)|(IE)
              // if (mso)|(IE)
        // if (mso)|(IE)
// if mso
// if IE